In [1]:
import pandas as pd

In [19]:
"""
Temperature
Emissions
GDP
Population
Green bonds
Environmental taxes
Environmental protection expenditure
Electric vehicles
Greenhouse policies
"""

'\nTemperature\nEmissions\nGDP\nPopulation\nGreen bonds\nEnvironmental taxes\nEnvironmental protection expenditure\nElectric vehicles\nGreenhouse policies\n'

In [13]:
df_temp_change = pd.read_csv("data/Annual_Surface_Temperature_Change.csv")
df_temp_change.head(2)

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,"Afghanistan, Islamic Rep. of",AF,AFG,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,0.234,1.308,0.457,1.101,1.607,1.568,1.580,0.960,0.544,1.421
1,2,Albania,AL,ALB,Temperature change with respect to a baseline ...,Degree Celsius,Food and Agriculture Organization of the Unite...,ECCS,Surface Temperature Change,"Environment, Climate Change, Climate Indicator...",...,1.568,1.444,1.322,1.665,1.601,1.269,2.146,1.823,1.623,1.682

In [17]:
df_co2 = pd.read_csv("data/owid-co2-data.csv")
df_co2.head(3)

,country,year,iso_code,population,gdp,cement_co2,cement_co2_per_capita,co2,co2_growth_abs,co2_growth_prct,...,share_global_cumulative_other_co2,share_global_flaring_co2,share_global_gas_co2,share_global_luc_co2,share_global_oil_co2,share_global_other_co2,total_ghg,total_ghg_excluding_lucf,trade_co2,trade_co2_share
0,Afghanistan,1850,AFG,3752993.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.121,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,1851,AFG,3769828.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.118,NaN,NaN,NaN,NaN,NaN,NaN
2,Afghanistan,1852,AFG,3787706.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,0.116,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
# Green Bonds
df_green_bonds = pd.read_csv("data/Green_Bonds.csv")
df_green_bonds.head(2)

,ObjectId,Country,ISO2,ISO3,Indicator,Unit,Source,CTS_Code,CTS_Name,CTS_Full_Descriptor,...,F2012,F2013,F2014,F2015,F2016,F2017,F2018,F2019,F2020,F2021
0,1,Argentina,AR,ARG,Green Bond Issuances by Country,US Dollars,Refinitiv. Accessed on 2022-03-29; Country aut...,ECFFI,Green Bonds Issuances,"Environment, Climate Change, Financial and Phy...",...,NaN,NaN,NaN,NaN,NaN,0.973917,NaN,NaN,0.179399,0.895660
1,2,Australia,AU,AUS,Green Bond Issuances by Country,US Dollars,Refinitiv. Accessed on 2022-03-29; Country aut...,ECFFI,Green Bonds Issuances,"Environment, Climate Change, Financial and Phy...",...,NaN,NaN,0.548342,0.563401,0.571439,2.665648,2.367815,2.101684,2.438814,5.011424